Source: nssct
Section: python
Priority: extra
Maintainer: Cygnus Networks GmbH <debian@cygnusnetworks.de>
Standards-Version: 3.9.4
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python-all,
 python-pysnmp4,
 python-setuptools,
 python-unittest2

Package: python-nssct
Depends:
 ${misc:Depends},
 python (>= 2.7) | python-argparse,
 python-pysnmp4,
 ${python:Depends}
Enhances: nagios3, icinga
Suggests: python-concurrent.futures
Architecture: all
Description: Nagios SNMP Switch Check Tool
 This tool allows almost configuration-less monitoring of the health of some
 SNMP capable packet switching devices. It implements the plugin interface used
 by Nagios. It currently supports some devices made by Brocade, Cisco and HP.
